<!DOCTYPE html>
 
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login and Registration</title>
 
<link rel="stylesheet" type="text/css" href="login.css">

 
</head>

	<li><a href="https://thejawebapp.azurewebsites.net/index.html">Home</a></li>
	<li><a href="https://thejawebapp.azurewebsites.net/login.html">Login</a></li>
	<li><a href="https://thejawebapp.azurewebsites.net/public_page.html">Register</a></li>
 
<body>
 <div style="max-width: 30%;">
      <div class="imgcontain">
        <img src="https://azjewishpost.com/files/2018/09/Iris.jpg" style="border-radius: 4px;" loading="lazy">
      </div>
    </div>
<div id="container">
<form action="login" method="post" id="flogin">
 
<div class="border-box">
<h2> Login Form</h2>
<label for="uname" id="un">Username:</label>
<input type="text" name="user" placeholder="Enter Username" id="uname"><br/>
 
<label for="upass" id="ps">Password:</label>
<input type="password" name="pass" placeholder="Enter Password" id="upass"><br/>
 


<a href="homepage.html" class="btn btn-info"  role="button">LOGIN</a>


 
<a href="register.html">New Member</a>
</div>
 
</form>
</div>

 
</body>
</html>